<h1>Список користувачів</h1>

<table>
  <tr>
    <th>Ім’я</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Показати', user %></td>
    <td><%= link_to 'Редагувати', edit_user_path(user) %></td>
    <td><%= link_to 'Видалити', user, confirm: "Ви впевнені що бажаєте видалити користувача #{user.name}?", method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
